<h1>Welcome aboard!</h1>
<p>You’ve been invited to join the team’s new tool that’s designed to make your meetings more productive and exciting.</p>
<p>No more boring, aimless meetings – with Spry, every conversation counts.</p>
<p>🚀 Ready to dive in? <a href="https://app.spryplan.com/login" target="_blank">Start analyzing your next meetings</a> — it’s quick, easy, and shows you how Spry can help make your meetings more organized and meaningful.</p>
<p>Let’s turn meetings into something to look forward to! 🎉</p>
