APP_ENV="develop"
SQLALCHEMY_DATABASE_URI="postgresql://spry:spry_pwd@db/spry"
SECRET_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

MAILJET_API_KEY=""
MAILJET_SECRET_KEY=""

DEMO_GOOGLE_ACCOUNT_SERVICE_FOLDER=demo_google_account_service_key
GCP_SERVICE_KEY_PATH=gcp_service_account.json
GCP_BUCKET_NAME=app-spryplan-bucket